body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background-image: url('fireworks-background.png');
  background-size: cover;
}

a {
  text-decoration: none;
}

img {
  border-radius: 35%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  margin: 3% 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.content {
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
}

.horiz-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vert-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  border-radius: 10px;
  margin: 0 0 2.5% 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

.walkthrough-div {
  width: 85%;
  margin: 0 0 2.5% 0;
  padding: 2.5%;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  border-radius: 10px;
  text-align: center;
}

.walkthrough-text {
  width: 90%;
  margin: 0 0 2.5% 0;
  display: inline-block;
  line-height: 150%;
}

.walkthrough-clip {
  width: 90%;
  height: auto;
  border-radius: 5px;
}

.setup-container {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  border-radius: 10px;
  margin: 0 0 2.5% 0;
}

.setup-item {
  font-size: 18px;
  margin: 2% 15%;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

.name-entry {
  display: flex;
  border-radius: 2px;
}

.name-input {
  flex: 1;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.5em 0.75em;
  border-radius: 5px 0 0 5px;
}

.name-submit {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: 500;
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.5em 0.75em;
  border-radius: 0 5px 5px 0;
}

.discard {
  display: flex;
}

.game-info {
  width: 389px;
}

.options {
  display: flex;
  flex-direction: row;
}

.option {
  display: flex;
  align-items: left;
  justify-content: left;
  transition: 0.3s;
  border-radius: 5px;
  margin: 0 2%;
  padding: 2% 0;
  text-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hand {
  display: flex;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 0 15px;
  padding: 10px;
  width: 50%;
  height: 100px;
}

.button {
  padding: 2.5%;
  margin: 2.5%;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  color: #202129;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  box-shadow: 2px 5px 10px var(--color-smoke);
}

.game-button {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.5em 0.75em;
  border-radius: 5px;
}

.selected {
  border-style: solid;
  border-width: 2px;
}

.number {
  font-size: 50px;
  text-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}
